DailyEZ.Web/Service References/SearchService/searchservice4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SearchServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SearchServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent_Folder_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pages" nillable="true" type="tns:ArrayOfPage">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Page" nillable="true" type="tns:Page" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPage" nillable="true" type="tns:ArrayOfPage" />
  <xs:complexType name="Page">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Folder_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Auto_Ordering" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Footer_HTML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaKeys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Links" nillable="true" type="tns:ArrayOfLink">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Page" nillable="true" type="tns:Page" />
  <xs:complexType name="ArrayOfLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Link" nillable="true" type="tns:Link" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLink" nillable="true" type="tns:ArrayOfLink" />
  <xs:complexType name="Link">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Page_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Is_Link" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Link" nillable="true" type="tns:Link" />
  <xs:complexType name="ArrayOfAd_Assignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ad_Assignment" nillable="true" type="tns:Ad_Assignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAd_Assignment" nillable="true" type="tns:ArrayOfAd_Assignment" />
  <xs:complexType name="Ad_Assignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Ad_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ad_Group" type="xs:int" />
      <xs:element minOccurs="0" name="Client_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height_Limitation" type="xs:int" />
      <xs:element minOccurs="0" name="View_Price" type="xs:double" />
      <xs:element minOccurs="0" name="Ad_Mode" type="xs:int" />
      <xs:element minOccurs="0" name="Ad_Limit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ad_Assignment" nillable="true" type="tns:Ad_Assignment" />
  <xs:complexType name="Ads_Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ad_Height" type="xs:int" />
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Border_Style" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ad_Assignments" nillable="true" type="tns:ArrayOfAd_Assignment">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ads_Model" nillable="true" type="tns:Ads_Model" />
</xs:schema>