DailyEZ.Web/Service References/SearchService/searchservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dailyez.com/SearchService/searchservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SearchServiceLibrary" />
  <xs:import schemaLocation="http://dailyez.com/SearchService/searchservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dailyez.com/SearchService/searchservice.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SearchServiceLibrary.Models" />
  <xs:element name="GetAllSubFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SearchServiceLibrary" minOccurs="0" name="GetAllSubFoldersResult" nillable="true" type="q1:ArrayOfFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folders" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SearchServiceLibrary.Models" minOccurs="0" name="SearchResult" nillable="true" type="q3:ArrayOfSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SearchServiceLibrary" minOccurs="0" name="SearchAdsResult" nillable="true" type="q4:ArrayOfAd_Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SearchServiceLibrary" minOccurs="0" name="GetAdResult" nillable="true" type="q5:Ads_Model" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>